ul[_content-list] li[_content-list] {
  font-family: var(--font-porsche-next), var(--font-arial-narrow), ArialNarrow, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  color: #494e51
}

div[_content-list] {
  margin-bottom: 5px
}
